<div>
<div style="margin-right:50px;float:left;">
  <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
  {% endif %}
</div>
<div style="float:left;" class="hnav">
 <a href="/joel">Joel's homepage</a><br>
 <a href="/blog/archives/">Articles</a><br>
 <a href="/resources">My talks and resources</a><br>
</div>
<div style="float:right;">
<img src="/images/peng.png" height=150 width=150>
</div>

<div style="position:absolute; top: 170px" class="hnavtitle">
<a href="http://www.meetup.com/LinuxInternals-org-Embedded-Linux-Training/">Join the internals meetup!</a>
</div>
</div>
